@import "../utilidades/variables";

//home
.general{
    background-color: none;

    h1{
        font-size: $font-size-large;
        font-family: $font-family;
        text-align: center;
    }
}

.auto, .home, .servicios, .nosotros, .contacto{
    background-color: $secondary-color;
    h2{
        font-family: $font-family;
        text-align: center;
    }
    
    p{
        text-align: center;
        font-size: $font-size-small;
        font-style: italic;    
    }
}

.servicios{
    margin: 0 0 8px;
    padding: 16px;

    ul li{
        margin: 10px;
        text-align: center;
        font-size: $font-size-small;
        font-style: italic;
        list-style-type: none;
        }
}

.nosotros, .contacto{
    margin: auto;
    padding: auto;

    p{
        margin: 0 0 8px;
        padding: 16px;
    }
}
