//variables 

$primary-color: rgb(195, 40, 20);
$secondary-color: whitesmoke;
$tertiary-bg-color:rgb(216, 216, 216);
$text-color: #555;
$font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-size-large: 40px;
$font-size-medium: 18px;
$font-size-small: 17px;
$font-size-xsmall: 16px;
$font-size-xxsmall:14px;
$box-shadow-hover: 1px 3px 4px #555;
$box-shadow-hover-mobile: 1px 2px 3px #555;
$background-grey: #ededed;
$background-ligth-grey: #e2e1e1;

